#block {
    block-size: 70px;
    background-color: white;
    border-radius: 15px;
  }
  
  #title {
    color: red; font-family: 'Raleway',sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    line-height: 72px; 
    text-align: center; 
    text-transform: uppercase;
  
  }  