.gamer-card {
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;

  }

div {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#elimina {
  padding-top: 10px;
}